$primary: 'Open Sans', sans-serif !default;
$weight: (
  normal: 400,
  semibold: 600,
  bold: 700,
  bolder: 800,
);

.text-xl {
  font-size: 64px;
}

.text-39px {
  font-size: 39px;
}

.text-33px {
  font-size: 33px;
}

.text-normal {
  font-size: 24px;
}

.text-bold {
  font-weight: 700;
}
.text-bolder {
  font-weight: 800;
}

.text-teal {
  color: #54c1aa;
}

.text-blue {
  color: #1a3f70;
}
.text-orange {
  color: #f59121;
}
